/* Declared Fonts */
@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LiberationSans';
    src: url('../webfonts/LiberationSans-BoldItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Basic Reset */
* {
    font-family: LiberationSans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Navigation Bar */
nav {
    background: #0b50aa;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Link Styling */
a:link {
    color: rgb(123, 255, 0);
    text-decoration: none; /* Removes text underline */
}

a:visited {
    color: rgb(235, 248, 51);
}

a:hover {
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(243, 243, 248);
} 

/* Main Content Area */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex: 1; /* Ensure main takes up all available space */
    background-color: #000000;
}

/* Footer Styling */
footer {
    background: #0b50aa;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    /*margin-top: 20px;*/
    position: sticky;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Resolution Styles */
@media screen and (max-width: 480px) {
    body,
    html {
        min-width: 320px;
    }
    .main-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
